---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";

.nav-dd-custom {
  padding: 0;

}

.dd-post-custom {
  border: 0;
  outline: 0;
}

.dd-menu-custom {
  border-radius: 0;
  background-color: rgba(150, 150, 150, 0);
  border: 0;
  text-align: center !important;
  margin-top: 8%;
  margin: 0 auto;
  padding-top: 7px;
  min-width: 0 !important;
}


.dd-item-custom {

  color: white;
  font-family: Open Sans;
  font-weight: 800;
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
  padding: 10px 20px;
  margin: 0 auto !important;
  &:hover, &:focus, &:active {
    color: white;
    background-color: rgba(0,0,0,0.3);
  }
}

.dropdown-divider{
  margin: 5px 0px;
}


@media all and (max-width: 992px) {
  .nav-item {
    padding: 10px 0px;
  }
  .dd-menu-custom {
    text-align: left !important;
  }
  .dd-item-custom {
    color: #888;
    &:hover, &:focus, &:active {
      background-color: rgba(0,0,0,0);
      color: #222;
    }
  }
  .dropdown-divider{
    margin: 3px 0px;
  }
}


.category-align-center {
    text-align: center;
}



