---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";




.nav-dd-custom {
  border: 0;
  outline: 0;
}

.dd-menu-custom {
  border-radius: 0;
  background-color: rgba(150, 150, 150, 0);
  border: 0;
  text-align: center !important;
  margin-top: 8%;
}

.dd-item-custom {
  width: 60%;
  color: white !important;
  font-family: Open Sans;
  font-weight: 800;
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
  padding: 10px;
  &:hover, &:focus, &:active {
    background-color: rgba(0,0,0,0.3);
  }
}

@media only screen and (min-width: 992px) {
  .dd-menu-custom {
    text-align: left;
  }
  .dd-item-custom {
    color: black;
  }
}
